.AgeOfMoneyDisplay{
  text-align: center;
}

.Title {
  font-size: 14px;
  font-style: italic;
  //font-weight: bold;
}

.Value{
  margin-top: 6px;
  font-size: 22px;
  font-weight: bold;
  color: #77b700;
}