@import "../common";

.TableRow {
  display: table-row;

  > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: table-cell;
    padding: 2px 10px;
    vertical-align: middle;
    white-space: nowrap;
  }
}


.TableHeaderRow {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  > div {
    position: relative;

    > div:first-child + div {
      padding: 5px 10px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 100px;
      max-width: 300px;
      right: 0;
      z-index: 20;
      background-color: rgb(49, 53, 55);
      border: 2px solid #88c726;
      border-top-width: 0;
      transform: translateY(100%);
    }

    > div:first-child + div:last-child {
      left: unset;
    }
  }
}

.SortDiv {
  display: inline-block;
  > span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    margin-left: 5px;
    vertical-align: middle;
    width: 16px;
  }
}
.Unsorted {
  img {
    filter: grayscale(1);
  }
}

.Optionable:hover {
  cursor: pointer;
}

.FilterDiv{
  margin-top: 5px;
  width: 100%;
}
.FilterList{
  max-height: 300px;
  overflow-y: auto;}


.FilterItem {
  font-size: 11px;
  max-width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 3px;
  vertical-align: middle;

  &:first-child{
    margin-top: 5px;
  }
}

.FilterCheckbox{
  margin-right: 5px;
  vertical-align: middle;

  > div > div > div {
    border: 2px solid;
  }
}


.FilterItemTitle {
  font-size: 10px;
  vertical-align: middle;
}

.Checked{
  color: #71a114;
}



.SelectionCheckbox {
  > div > div > div > div {
    border: 2px solid;
  }
}