
.CurrentMenu {
  a {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.CurrentMenu img {
  transition: 0.1s ease all;

}


.MenuEntry {
  padding: 4px 6px;
  text-align: center;
  transition: 0.1s ease all;
}

.MenuEntry:hover {
  transition: 0.1s ease all;
  filter: brightness(1.2);
  cursor: pointer;
}

.MenuEntry a {
  padding: 0 10px;
  border-radius: 5px;
  transition: 0.1s ease all;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  color: #E8E6E3;

  & > div:first-child {
    flex: 0 1;
  }

  & > div:last-child {
    flex: 1 0;
    padding: 10px 10px;
  }
}

.MenuEntry:hover a {
  transition: 0.1s ease all;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.MenuEntry a span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.MenuEntry a img {
  transition: 0.1s ease all;
  transform: scale(0.9);
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.MenuEntry:hover a img {
  transition: 0.1s ease all;
  transform: scale(1.05);
}

.MenuEntry:first-child a {
  color: #90b421;
}

.MenuEntry:nth-child(2) a{
  color: #c4a52d;
}

.MenuEntry:nth-child(3) a {
  color: #d33731;
}

.MenuEntry:nth-child(4) a{
  color: #b76423;
}

.MenuEntry:nth-child(5) a{
  color: #2485af;
}

.MenuEntry:nth-child(6) a{
  color: #d6005c;
}
