
.MenuPanel {
  background: #222526;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    flex: 0 1;
  }
}

.Menus {
  border-top: 1px solid #5b5b5b;
}

.Accounts{
  //flex: 1 0;
  border-top: 1px solid #5b5b5b;
  padding: 4px 10px;
  font-size: 14px;
  flex: 1 0 !important;
  overflow: auto;
}

.AddAccount {
  padding: 10px 15px;

  > div {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(144, 180, 33, 0.5);
    transition: background-color 100ms ease;
    &:hover{
      cursor: pointer;
      background-color: rgba(144, 180, 33, 0.6);
      transition: background-color 100ms ease;
    }
  }

  span, img {
    vertical-align: middle;
    display: inline-block;
  }
  img{
    margin-right: 8px;
    width: 18px;
  }
}
